.search-list {
  display: flex;
  align-items: center;
  flex-direction: column;

  .search-items {
    display: flex;
    justify-content: center;

    margin-bottom: $bigMargin;

    input {
      padding: 1rem;
      min-width: 30rem;
      margin: $primaryMargin;
    }

    .MuiFormControl-root {
      margin: $primaryMargin;
    }

    button {
      min-width: 6rem;
      margin: $primaryMargin;

      background-color: white;
      color: black;
      border: 1px solid rgb(130, 130, 130);
      cursor: pointer;

      &:hover {
        background-color: rgb(192, 233, 176);
      }

      span {
        transition: transform 0.3s;
      }

      &:hover {
        span {
          transform: scale(1.1);
        }
      }
    }
  }
}
